{
  "presets": [
    "@babel/env",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "node": "current"
        },
        "useBuiltIns": "usage",
        "loose": true
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
